- if redirect
  -# Redirect via Javascript
  window.location = "#{redirect}";

- elsif callback
  -# JSONP callback
  #{callback}({"browser":"#{browser}","version":"#{version.string}","string":"#{string}"});

- else
  -# Default action; inline notification. This uses the following parameters:
  -# - link
  